body {
  background-color: #fff !important;
}

.logo {
  width: 64px;
}
.blue-enigma {
  background-color: #233d90;
}
.table-header {
  height: 100px;
}
.footer {
  height: 40px;
}
.copyright {
  margin: auto;
}
.content-area {
  max-width: 70%;
  margin: auto;
}
